<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= site.title %></title>
  <link rel="stylesheet" href="css/styles.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150355834-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-150355834-1');
  </script>
</head>
<body>
  <div class="header">
    <h1><%= site.title %></h1>
  </div>

  <div class="content">
    <%- body %>
  </div>

  <%- include('partials/footer') %>
  <script async src="../node_modules/rellax/rellax.min.js"></script>
  <script async src="js/home.js"></script>
</body>
</html>
